# Ignorar diretórios de cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar ambientes virtuais
venv/
.virtualenvs/

# Ignorar configurações do VSCode
.vscode/

# Ignorar credenciais e variáveis de ambiente
.env

# Ignorar dependências já controladas pelo requirements.txt
Pipfile
Pipfile.lock
poetry.lock

# Ignorar arquivos de logs
logs/
*.log

# Ignorar banco de dados SQLite
*.sqlite3
db.sqlite3

# Ignorar os PDFs do curso
secao*/**/*.pdf